<style type="text/css">
   @media only screen and (max-device-width: 480px) {
       /* placer les CSS conçues pour les mobiles ici */
   }

   /* les CSS classiques sont à placer ici */
   table {
   	font-family: arial,sans-serif;
   	
   }
   .title td {
   	text-align: left; 
   	padding-top: 40px; 
   	padding-left: 30px !important;
   	padding-bottom: 40px; 
   	color: #FFFFFF;
   	background-color: #000000;
   	font-size: 20px;
   	font-weight: 300;
   }

   .footer {
   	text-align: center;
   	font-size: 12px;
   	font-color: #8A8A8A;
   	line-height: 1.5;
   }

   .btn {
   	display:block;
   	padding: 14px;
   	text-align:center;
   	font-size: 13px;
   	font-weight: bold;
   	letter-spacing: 1px;
   	background-color: #5C6C86;
   	color:white;
   	border-radius: 10px;
    }
   
	.btn:hover {
	background-color: #4C6693;
	color:white; 
	}

</style>